{
  "env": {
    "es6": true,
    "browser": true,
    "node": false
  },
  "parser": "babel-eslint",
  "parserOptions": {
    "sourceType": "module"
  },
  "plugins": [
    "babel"
  ],
  "extends": [
    "standard", "standard-react"
  ],
  "globals": {
  }
}
